//
// префиксы показаны для примера, в файле package.json
// поле "browserslist" автоматически добавляет нужные свойства
// для выбранных браузеров
//
@mixin transformPref ($size) {
  transform: translateX($size);
  // -webkit-transform: translateX($size);
  // -ms-transform: translateX($size);
  // -moz-transform: translateX($size);
}
@mixin myBorderRaidus ($size){
  border-radius: $size;
  // -webkit-border-radius: $size;
  // -moz-border-radius: $size;
  // -ms-border-radius: $size;
}
@mixin flexPref {
  // display: -ms-flexbox;
  // display: -webkit-flex;
  display: flex;
}
.tickets{
  margin-top: 20px;
  .ticket{
    @include flexPref;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    height: 161px;
    background-color: #fff;
    @include myBorderRaidus(5px);
    box-shadow: 0 0 5px 1px #ccc;
    transition: .5s;
    &:hover{
      box-shadow: 0 10px 15px 1px #ccc;
    }
    &__left-side{
      @include flexPref;
      position: relative;
      width: 200px;
      height: 161px;
      &:after{
        content: '';
        height: 161px;
        width: 1px;
        background-color: #ECEFF1;
        position: absolute;
        right: 0;
        top: 0;
      }
      &-buy{
        width: 160px;
        height: 56px;
        left: 20px;
        outline: none;
        border: none;
        background: #FF6D00;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 1px 0px #D64D08;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        margin-top: 80px;
        @include transformPref(-50%);
        transition: .5s;
        cursor: pointer;
        color: #fff;
        font-size: 17px;
        &:hover{
          background: #FF8124;
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25), 0px 1px 0px #F7661D;
        }
      }
      &-logo{
        @include myBorderRaidus(5px);
        width: 150px;
        position: absolute;
        left: 50%;
        top: 10px;
        @include transformPref(-50%);
      }
    }
    &__right-side{
      height: 161px;
      position: relative;
      width: calc(67vw - 200px);

      display: flex;
      justify-content: space-around;
      h1{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 26px;
        color: #4A4A4A;
        margin: 0;
        margin-bottom: 12px;
      }
      h3{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 18px;
        color: #4A4A4A;
        margin: 0;
      }
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 18px;
        color: #8B9497;
        margin: 0;
      }
      &-info{
        padding: 25px;
        width: 116px;
      }
      .departure{
        display: inline-block;
        padding: 10px;
        padding-top: 25px;
      }
      .arrival{
        padding: 10px;
        padding-top: 25px;
        text-align: right;
        position: absolute;
        right: -50px;
      }
    }
    .transfers{
      p{
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #8B9497;
        position: absolute;
        left: calc(35px + (100vw - 600px)/15);
        width: 100%;
        top: 25px;
        &:after{
          content:'';
          height: 1px;
          width: calc(65px + (100vw - 600px)/2.3);
          background: #d2d5d6;
          position: absolute;
          top: 20px;
          left: calc(65px + (100vw - 600px)/10);
        }
      }
      img{
        position: absolute;
        top: 39px;
        left: calc(160px + (100vw - 600px)/1.6);
      }
    }
  }
}
